html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: rgb(38, 38, 38);
}
.orangeText {
  color: orange;
}
.front {
  z-index: 1000;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}
.h-line {
  color: white;
  background-color: grey;
  width: 100%;
}
a {
  color: white;
}
a:hover {
  color: orange;
  text-decoration: none;
}
a.link-image:hover {
  color: orange;
}
.indent {
  margin-left: 10%;
}

.link-image:hover .img-fluid {
  opacity: 0.4 !important;
}
.link-image:hover .img-text-overlay {
  opacity: 1;
}
.img-text-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 25%;
  width: 50%;
  height: 7.5%;
  text-align: center;
}

/* Fade in - fade out effects */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1100ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 1100ms linear;
}

.swipeRight-enter {
  transform: translate(-100%, 0);
}
.swipeRight-enter-active {
  transform: translate(0, 0);
  transition: transform 1000ms;
}
.swipeRight-exit {
  transform: translate(0, 0);
}
.swipeRight-exit.swipeRight-exit-active {
  transform: translate(100%, 0);
  transition: transform 1000ms;
}

.swipeDown-enter {
  transform: translate(0%, -100%);
}
.swipeDown-enter-active {
  transform: translate(0, 0);
  transition: transform 1000ms;
}
.swipeDown-exit {
  transform: translate(0, 0);
}
.swipeDown-exit.swipeDown-exit-active {
  transform: translate(0%, 100%);
  transition: transform 1000ms;
}

/* Animated background */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(245, 140, 4, 0.2);
  animation: animate 10s linear infinite;
  bottom: 0px;
}

.circles li:nth-child(1) {
  left: 5%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0.5s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0.75s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 1s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 2.5s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 0.7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 1.5s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0%) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-500px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
