html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: black;
}
.orangeText {
  color: orange;
}
.front {
  z-index: 1000;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}
.h-line {
  color: white;
  background-color: grey;
  width: 100%;
}
a {
  color: white;
}
a:hover {
  color: orange;
  text-decoration: none;
}
a.link-image:hover {
  color: orange;
}
.indent {
  margin-left: 10%;
}

.link-image:hover .img-fluid {
  opacity: 0.4 !important;
}
.link-image:hover .img-text-overlay {
  opacity: 1;
}
.img-text-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 25%;
  width: 50%;
  height: 7.5%;
  text-align: center;
}

/* Fade in - fade out effects */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1100ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 1100ms linear;
}

.swipeRight-enter {
  transform: translate(-100%, 0);
}
.swipeRight-enter-active {
  transform: translate(0, 0);
  transition: transform 1000ms;
}
.swipeRight-exit {
  transform: translate(0, 0);
}
.swipeRight-exit.swipeRight-exit-active {
  transform: translate(100%, 0);
  transition: transform 1000ms;
}

.swipeDown-enter {
  transform: translate(0%, -100%);
}
.swipeDown-enter-active {
  transform: translate(0, 0);
  transition: transform 1000ms;
}
.swipeDown-exit {
  transform: translate(0, 0);
}
.swipeDown-exit.swipeDown-exit-active {
  transform: translate(0%, 100%);
  transition: transform 1000ms;
}
