html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: orange;
}

body {
  background: black;
}

.front {
  z-index: 1000;
}

.h-line {
  color: white;
  background-color: grey;
  width: 80%;
}

.indent {
  margin-left: 10%;
}
.img-overlay:hover img {
  opacity: 0.3;
}
.img-overlay:hover .img-text-overlay {
  opacity: 1;
}
.img-text-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
